# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mariel Guamuche\OneDrive - Universidad del Valle de Guatemala\2024\Análisis de Algoritmos\Proyecto2ADA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
